@model ClaimSystem.Models.Claim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaimPriority.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimPriority.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimState.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimState.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimType.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimType.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
